* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBEBEB;
}

nav {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    align-items: center;
    height: 50px;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    color: white;
}

nav a.active, nav a:hover {
    background-color: #585858;
    line-height: 49px;
}

header {
    background-color: #242424;
    color: white;
    height: 50px;
}

.wrapper {
    display: flex;
    width: 1100px;
    justify-content: center;
    margin: 0 auto;
    line-height: 15px;
    padding: 0 0 0 0;
    background-color: white;
}

aside {
    width: 300px;
    padding: 0 20px 20px 20px;
}

aside img {
    width: 260px;
}

aside h1, main h1, footer h1 {
    font-size: 20px;
}

main {
    width: 500px;
    padding: 0 0 20px 0;
}

main p, aside p {
    font-size: 15px;
    text-align: justify;
}

footer p {
    font-size: 15px;
    text-align: center;
}

main img {
    width: 500px;
}

footer {
    background-color: #242424;
    height: 320px;
    margin: 0 auto;
}

.footer-center {
    width: 1100px;
    margin: 0 auto;
    display: flex;
	justify-content: space-between;
}

.footer-wrap {
    margin-top: 30px;
    text-align: center;
    min-height: 200px;
    width: 250px;
    background-color: #EBEBEB;
}

.copyright {
    line-height: 50px;
    text-align: center;
    color: white;
}